/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5); /* Gradient background */
  
}
.logout-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #007BFF;
}

.logout-icon:hover {
    color: red;
}
h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
}

#main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

#left {
    width: 35%;
    float: left;
    padding-right: 20px;
    border-right: 2px solid #dcdcdc;
}

#right {
    width: 60%;
    float: right;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #444;
}

input[type="file"] {
    position: relative;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: #007BFF;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

input[type="file"]:hover {
    background-color: #007BFF;
    color: #fff;
}

textarea {
    width: 95%;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    resize: none;
}

/* Button Styles */
.btns {
    display: flex;
    justify-content: space-between;
}

button {
    position: relative;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: #007BFF;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #007BFF;
    color: #fff;
}





#download {
    position: relative;
    border: 1px solid #ccc;

    display: none;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    background-color: transparent;
    color: #007BFF;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;

}

#download:hover {
    background-color: #007BFF;
    color: #fff;
}

.image-columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.image-container {
    flex: 1;
    min-width: 45%;
}

.image-container img {
    width: 100%;
    border-radius: 4px;
}

.note {
    font-size: 12px;
    color: #999;
    text-align: center;
}

.clear {
    clear: both;
}

.footer {
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
    color: #888;
}

.footer a {
    color: #007BFF;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
